.carousel-inner img {
                width: 100%; /* Set width to 100% */
                margin: auto;
                min-height:200px;
            }

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
    display: none; 
    }
}

body {
    background-color: #2f2762ff;
    color: #d4cfebff;
    font-family: Arial, Helvetica, sans-serif;
}

.topofmypage {
    background-color: #10083fff;
}

.spanone {
        text-align: left;
        display: inline;
}
            
.spantwo {
    text-align: right;
    display: inline;
    margin-left: 1000px;
}
            
img {
    display: block;
    margin: auto;
}

p, h1, h2, span {
    text-align: center;
    color: white;
}

ul {
    list-style-position: inside;
    text-align: left;
    margin-left: 400px;
    color: white;

}

p {
    font-size: 125%;
    padding-left: 100px;
    padding-right: 100px;
}
    
h1 {
    font-size: 650%;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 300%;
    font-weight: bold;
    background-color: #10083fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 450px;
    margin-right: 450px;
}

.personal {
    margin-left: 550px;
    margin-right: 550px;
    margin-top: none;
    margin-bottom: none;
    text-decoration: underline;
}

 p, h1, h2 {
    text-align: center;
}

nav {
    border-style: solid;
    border-width: 3px;
    border-color: #958cc5ff;
}

nav a {
    color: #d4cfebff;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover {
    background-color: #958cc5ff;
    color: #f7b07cff;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

.underiframe {
    margin-top: 50px;
}

img {
    color: #d4cfebff;
}

.center {
    border-style: solid;
    border-width: 2px;
    border-color: #958cc5ff;
}

.blogtitle {
    text-decoration: underline;
}

.personalparas {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
    background-color: #10083fff}

.annoyingphoto {
    border-style: solid;
    border-width: 2px;
    border-color: #958cc5ff;
}

footer {
    background-color: #2f2762ff;
}

body {
    font-family:'Times New Roman', Times, serif;
}